@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  font: {
    size: 15px;
    weight: 400;
    family: "Overpass";
  };
}

h1,h2 {font-weight: 700;}
p {font-weight: 400;}